<!DOCTYPE html>
<html>

<!-- head -->
{{template "HeadTemp" .}}
<!-- end -->

<body class="body">
<div class="navbar-fixed-top top-bar">
    {{template "TitleTemp" .}}
</div>
<script>
    $("#logout-link").hide();
</script>
<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <h1>关于</h1>
            <p>Docer 是一个帮助你快速撰写文档的工具！</p>
            <p>我们的特色：</p>
            <ul>
                <li>章节、正文、引用三栏，相互关联，可高效组织文档结构</li>
                <li>强大的引用管理，帮你更简单的管理引文</li>
                <li>正文按行输入，有效整理思路，想到什么写什么</li>
                <li>一键导出多种格式，再也不愁投稿要求</li>
            </ul>
            <br>
            <h1>作者</h1>
            <p>liuhan</p>
            <p> Email:<a href="mailto:newham.cn@gmail.com">newham.cn@gmail.com</a></p>
            <p>
                Github:<a href="https://github.com/newham/docer">https://github.com/newham/docer</a>
            </p>
        </div>
    </div>
</div>

</body>


</html>