<!DOCTYPE html>
<html>

<!-- head -->
{{template "HeadTemp" .}}
<!-- end -->

<body class="body-dark">
    <div class="navbar-fixed-top top-bar">
        {{template "TitleTemp" .}}
    </div>
    <script>
        $("#logout-link").hide();
    </script>
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <h1>帮助</h1>
                <p>Docer 是一个帮助你快速撰写文档的工具！</p>
                <p>使用:</p>
                <ul>
                    <li>登录</li>
                    <li>新建文档</li>
                    <li>上传文档</li>
                    <li>打开文档</li>
                    <li>删除文档</li>
                    <li>下载文档</li>
                    <li>编辑文档</li>
                </ul>
                <p>快捷键:</p>
                <ul>
                    <li>回车，新增一行</li>
                    <li>up，聚焦上一行</li>
                    <li>down，聚焦下一行</li>
                    <li>left，聚焦左边元素</li>
                    <li>right，聚焦右边元素</li>
                    <li>Del，删除</li>
                </ul>
            </div>
        </div>
    </div>

</body>


</html>