<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>docer</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"> -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="docer.css" rel="stylesheet" />
</head>

<body>

    <div id="docer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#">保存</a>
                    <a href="#">撤销</a>
                    <a href="#">取消撤销</a>
                </div>
                <div class="col-md-12">
                    标题：<input v-model="article.title" type="text" id="title" @keyup.down="downTitle()" style="width:100%;">
                </div>
                <div class="col-md-12">
                    内容：{{content}}
                </div>
                <div class="col-md-12">
                    字数：<span>{{article.words}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">章节</div>
                <div class="col-md-4">正文</div>
                <div class="col-md-4">翻译</div>
            </div>
            <div class="row" v-for="(chapter,i) in article.chapters">
                <div class="col-md-4">
                    <div>
                        {{i+1}}.
                        <input v-model="chapter.title" type="text" v-bind:id="'c-'+i" @keyup.enter="addChapter(i)"
                            @keyup.up="upChapter(i)" @keyup.down="downChapter(i)">
                        <button v-on:click="addChapter(i)">+</button>
                        <button v-on:click="delChapter(i)">x</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div v-for="(line,j) in chapter.lines">
                        <input v-model="line.content" type="text" @keyup.enter="addContent(i,j)" @keyup.up="upContent(i,j)"
                            @keyup.down="downContent(i,j)" v-bind:id="'c-'+i+'-c-'+j">
                        <!-- @keyup.46="delContent(i,j)" -->
                        <button v-on:click="addContent(i,j)">+</button>
                        <button v-on:click="delContent(i,j)">x</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div v-for="line in chapter.lines">
                        <input v-model="line.translation" type="text">
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <hr>
                </div> -->
            </div>
        </div>
</body>

<script>
    var current_chapter_index = 0, current_chapter_line_index = 0;
    var add_type = -1;
    // var show_type = 1;
    var vm = new Vue({
        el: '#docer',
        data: {
            content: "",
            article: {
                titile: "",
                words: 0,
                chapters: [
                    {
                        title: "",
                        lines: [
                            { content: "", translation: "" },
                        ]
                    }
                ],
            }
        },
        methods: {
            focusTitle: function (i) {
                document.getElementById("title").focus();
            },
            downTitle: function (i) {
                this.focusChapter(0);
            },
            addChapter: function (i) {
                // if(this.article.chapters[i].title==""){ //本行为空，禁止增加新行
                //     return
                // }
                i++;
                console.log("add", i);
                this.article.chapters.splice(i, 0, {
                    title: "",
                    lines: [
                        { content: "", translation: "" },
                    ]
                });
                current_chapter_index = i;
                add_type = 1;
            },
            delChapter: function (i) {
                if (this.article.chapters.length == 1) {
                    return;
                }
                this.article.chapters.splice(i, 1);
                console.log("del", i);
                //foucs up item
                current_chapter_index = i - 1;
                add_type = 1;
            },
            focusChapter: function (i) {
                if (i < this.article.chapters.length && i >= 0) {
                    document.getElementById("c-" + i).focus();
                }
            },
            upChapter: function (i) {
                if (i >= 1) {
                    this.focusChapter(i - 1);
                }

                if (i == 0) {
                    this.focusTitle();
                }
            },
            downChapter: function (i) {
                if (i <= this.article.chapters.length - 2) {
                    this.focusChapter(i + 1);
                }
            },
            rightChapter: function (i) {
                // console.log("right", i);
                this.focusContent(i, 0);
            },
            addContent: function (i, j) {
                j++;
                console.log("add", i, j);
                this.article.chapters[i].lines.splice(j, 0, {
                    content: "",
                    translation: ""
                })
                current_chapter_index = i;
                current_chapter_line_index = j;
                add_type = 2;
            },
            delContent: function (i, j) {
                // if (confirm("sure to delete:"+this.article.chapters[i].lines[i].content+"?")==false){ 
                //     return
                // }
                console.log("del", i, j);
                if (this.article.chapters[i].lines.length == 1) {
                    return;
                }
                this.article.chapters[i].lines.splice(j, 1);
                //foucs up item
                current_chapter_index = i;
                current_chapter_line_index = j - 1;
                add_type = 2;
            },
            upContent: function (i, j) {
                // console.log("up", i, j);
                if (j >= 1) {
                    this.focusContent(i, j - 1);
                }
                if (j == 0 && i - 1 >= 0) {
                    this.focusContent(i - 1, this.article.chapters[i - 1].lines.length - 1)
                }

            },
            downContent: function (i, j) {
                // console.log("down", i, j);
                if (j <= this.article.chapters[i].lines.length - 2) {
                    this.focusContent(i, j + 1);
                }
                if (j == this.article.chapters[i].lines.length - 1 && i + 1 <= this.article.chapters.length - 1) {
                    this.focusContent(i + 1, 0);
                }

            },
            leftContent: function (i, j) {
                // console.log("left", i, j);
                this.focusChapter(i);
            },
            focusContent: function (i, j) {
                if (i >= 0 && j >= 0 && j < this.article.chapters[i].lines.length) {
                    document.getElementById("c-" + i + "-c-" + j).focus();

                    current_chapter_index = i;
                    current_chapter_line_index = j;
                    this.content = this.article.chapters[i].lines[j].content;

                }
            },
            onfocusContent: function (i, j) {
                console.log("onfocusContent", i, j)
            },
            countWords: function () {

                var total = 0;
                for (i = 0; i < this.article.chapters.length; i++) {
                    total += this.article.chapters[i].title.length;
                    for (j = 0; j < this.article.chapters[i].lines.length; j++) {
                        total += this.article.chapters[i].lines[j].content.length;
                    }
                }
                // console.log("words", total);
                if (this.article.words != total) {
                    this.article.words = total;
                }
            },

        },
        updated: function () {
            // console.log("updated", add_type, current_chapter_index);
            if (add_type == 1) {
                this.focusChapter(current_chapter_index);
            } else if (add_type == 2) {
                this.focusContent(current_chapter_index, current_chapter_line_index);
            }
            add_type = -1;

            this.countWords();

            newContent = this.content = this.article.chapters[current_chapter_index].lines[current_chapter_line_index].content;
            if (this.content != newContent) {
                this.content = newContent;
            }
        }
    })
    vm.focusTitle();
</script>

</html>