<!DOCTYPE html>
<html>
<!-- head -->
{{template "HeadTemp" .}}
<!-- end -->

<body class="body-dark">


    <div id="docer">
        <div class="modal fade" id="filenameModal" tabindex="-1" role="dialog" aria-labelledby="filenameModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 class="modal-title" id="filenameModalLabel">新建</h3>
                    </div>
                    <form method="get" v-bind:action="'/edit/'+newFilename">
                        <div class="modal-body">
                            <input type="text" class="form-control" v-model="newFilename" required="required" autofocus>
                            <input type="hidden" name="create" value="1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">确定</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!--modal end-->
        <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 class="modal-title" id="fileModalLabel">上传本地文档</h3>
                    </div>
                    <form method="post" action="/upload" enctype="multipart/form-data">
                        <div class="modal-body">
                            <input type="file" name="file" required="required">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">确定</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!--modal end-->
        <div class="navbar-fixed-top top-bar">
            {{template "TitleTemp" .}}
        </div>
        <div class="container content-dark">
            <div class="row">
                <div class="col-md-12">
                    <h3>新建</h3>
                </div>

                <div class="col-xs-3 col-md-2">
                    <div class="card">
                        <a data-toggle="modal" data-target="#filenameModal">
                            <img src="/public/img/file.png">
                            <div class="filename">空白文档</div>
                        </a>
                    </div>
                </div>

                <div class="col-xs-3 col-md-2">
                    <div class="card">
                        <a data-toggle="modal" data-target="#fileModal">
                            <img src="/public/img/file_add.png">
                            <div class="filename">上传文档</div>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h3>打开</h3>
                </div>
                <div class="col-md-12">
                    <div v-for="file in folder.files" class="line">
                        <a v-bind:href="'/edit/'+file.name" data-toggle="tooltip" v-bind:title="file.name">
                            ${file.name}</a>
                            <span class="pull-right">
                                <span class="size">${file.size}</span>  
                                ${file.modTime}
                                <a v-on:click="delArticle(file.name)"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                                |
                                <a v-bind:href="'/download/'+file.name"><span
                                        class="glyphicon glyphicon-cloud-download"></span></a>
                            </span>
                        
                    </div>
                </div>
                <!-- <div class="col-xs-3 col-md-2" v-for="file in folder.files">
                    <div class="card">

                        <a v-bind:href="'/edit/'+file.name" data-toggle="tooltip" v-bind:title="file.name">
                            <img src="/public/img/doc.png">
                            <div class="filename">${file.name}</div>
                            <div>${file.modTime}</div>

                        </a>
                        <div>
                            <span class="size">${file.size}</span>
                            <a v-on:click="delArticle(file.name)"><span class="glyphicon glyphicon-trash"></span></a>
                            |
                            <a v-bind:href="'/download/'+file.name"><span
                                    class="glyphicon glyphicon-cloud-download"></span></a>
                        </div>
                    </div>
                </div> -->
            </div>

        </div>

    </div>
</body>

<script>
    // var show_type = 1;
    var vm = new Vue({
        delimiters: ['${', '}'],
        el: '#docer',
        data: {
            folder: {},
            newFilename: "新建文档.json"
        },
        methods: {
            showArticles: function () {
                axios.get('/folder')
                    .then(function (response) {
                        vm.folder = response.data; // 这里不能用this，否则无法跟新
                    });
                $('#folderModal').modal('show');
            },
            downloadArticle: function (name) {
                axios.get('/download/' + name)
                    .then(function (response) {
                    });
            },
            delArticle: function (name) {
                var r = confirm("确定要删除 " + name + " ?");
                if (r == false) {
                    return
                }
                axios.delete('/article/' + name)
                    .then(function (response) {
                        vm.showArticles();
                    }).catch(function (error) {
                        alert("删除失败");
                    });
            }
        }
    })

    vm.showArticles();
</script>

</html>